

body,html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.header{
   padding: 50px 0px 50px;
   background-color: orange;
}


.footer{
   padding: 70px 0px 50px;
   background-color: orange;
   font-size: 18px;
   line-height: 24px;
}

.footer__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}